# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
Thumbs.db

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/
**/.idea/

# Visual Studio Code
.vscode/
**/.vscode/

# Flutter / Dart
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
**/.dart_tool/
.flutter-plugins
**/.flutter-plugins
.flutter-plugins-dependencies
**/.flutter-plugins-dependencies
.pub-cache/
**/.pub-cache/
.pub/
**/.pub/
build/
**/build/

# Android build artifacts & local properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/.gradle/
**/local.properties
**/GeneratedPluginRegistrant.java

# iOS build artifacts
**/ios/.generated/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
